.card-title{
  margin-top: 10px;
  padding: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-old{
  width: 80% !important;

  display: flex;
  align-items: center;
  justify-content: center;
}
