<mat-card class="card-old">
      <mat-toolbar class="card-title" color="primary"> Cadastro do Condomínio </mat-toolbar>
      <mat-card-content class="card-old">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field >
              <input matInput placeholder="Nome do condominio" formControlName="nome">
            </mat-form-field>

            <mat-form-field >
              <input matInput placeholder="Nome do condominio" formControlName="cnpj">
            </mat-form-field>

            <mat-form-field >
              <input matInput placeholder="Nome do condominio" formControlName="cidade">
            </mat-form-field>

            <mat-form-field >
              <input matInput placeholder="Nome do condominio" formControlName="bairro">
            </mat-form-field>

            <mat-form-field >
              <input matInput placeholder="Nome do condominio" formControlName="endereco">
            </mat-form-field>

            <mat-form-field >
              <input matInput placeholder="Nome do condominio" formControlName="data_inicio">
            </mat-form-field>

            <mat-form-field >
              <input matInput placeholder="Nome do condominio" formControlName="valor_contrato">
            </mat-form-field>
          </form>
    </mat-card-content>
<mat-card>
